<div class="row marketing">
  <ul class="media-list">
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" width="64px" height="64px" src="https://pbs.twimg.com/profile_images/792221815/Angry_batman_bigger.JPG" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">The Batman <small>@thebatman</small></h4>
        <p>It's true Robin, my cape is black and doubles as a glider. But yours is cool too. It's yellow and keeps bullets away. From me.</p>
      </div>
    </li>
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" width="64px" height="64px" src="https://pbs.twimg.com/profile_images/3240741454/9080e76653a80e43ae2058432bc76806_bigger.jpeg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Bill Murray <small>@billmurray</small></h4>
        <p>Raisin cookies that look like chocolate chip cookies are the main reason I have trust issues.</p>
      </div>
    </li>
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" width="64px" height="64px" src="https://pbs.twimg.com/profile_images/1594623967/LloydBlankfeinLookingSkeptical_bigger.jpg" alt="Generic placeholder image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">GS Elevator Gossip <small>@gselevator</small></h4>
        <p>#1: Advice for a daughter depends almost entirely on how attractive she is.</p>
      </div>
    </li>
  </ul>
</div>
