<div class="row">

  <div class="col-md-3 col-lg-4">
    <form role="form">
      <div class="form-group">
	<textarea class="form-control" rows="4" placeholder="Cheep cheep cheep?"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Cheep!</button>
    </form>
  </div>

  <div class="col-md-9 col-lg-8">
    <ul class="media-list">
      <li class="media" ng-repeat="cheep in stream">
	<a class="pull-left" href="#">
          <img class="media-object" width="64px" height="64px" src="{{ cheep.author.thumbnail_url }}" alt="Generic placeholder image">
	</a>
	<div class="media-body">
          <h4 class="media-heading">{{ cheep.author.name }} <small>@{{ cheep.author.handle }}</small></h4>
          <p>{{ cheep.content }}</p>
	</div>
      </li>
    </ul>
  </div>

</div>
