<div class="row">

  <div class="col-md-3 col-lg-4">
  </div>

  <div class="col-md-9 col-lg-8">
    <h1>{{ user.name }} <small>@{{ user.handle }}</small></h1>
  </div>

</div>

<div class="row">

  <div class="col-md-3 col-lg-4">
    <ul class="list-group">
      <li class="list-group-item">
	<span class="badge">{{ user.cheeps_count }}</span>
	Cheeps
      </li>
      <li class="list-group-item">
	<span class="badge">{{ user.following_count }}</span>
	Following
      </li>
      <li class="list-group-item">
	<span class="badge">{{ user.followers_count }}</span>
	Followers
      </li>
    </ul>
  </div>

  <div class="col-md-9 col-lg-8">
    <ul class="media-list">
      <li class="media" ng-repeat="cheep in stream">
	<a class="pull-left" href="#">
          <img class="media-object" width="64px" height="64px" ng-src="{{ cheep.author.thumbnail_url }}" alt="Generic placeholder image">
	</a>
	<div class="media-body">
          <h4 class="media-heading">{{ cheep.author.name }} <small>@{{ cheep.author.handle }}</small></h4>
          <p>{{ cheep.content }}</p>
	</div>
      </li>
    </ul>
  </div>

</div>
